<%- include('./partials/header') %>

<p>Build a new trip to add to our ever expanding catalog!</p>
<br>

<form action="/new/step1" method="POST">

    <h3>Trip Name</h3>
    <input type="text" name="tripName">

    <h3>Description (optional)</h3>
    <input type="text" name="description">

    <h3>Start Stop</h3>
    <select id="startStopDropDown" name="startStop">
        <% for (let stop of stops) { %>
            <option name="stopID" value="<%= stop._id %>"><%= stop.stopID %> - <%= stop.stopName %></option>
        <% } %>
    </select>

    <button type="submit">Select</button>

</form>

<%- include('./partials/footer') %>