<%- include('./partials/header') %>

<p>List of all bus routes in Blockville, Toronto!</p>

<% for (let route of routes) { %>
    <div class="list-item">#<%= route.routeID %> - <%= route.routeName %></div>
    <div class="sub-list"><u>Stops En Route</u></div>
    <% for (let stop of route.stopRefList) { %>
        <div class="sub-list">#<%= stop.stopID %> - <%= stop.stopName %></div>
    <% } %>
<% } %>

<%- include('./partials/footer') %>