<%- include('./partials/header') %>

<p>List of all bus stops in Blockville, Toronto!</p>

<% for (let stop of stops) { %>
    <div class="list-item">#<%= stop.stopID %> - <%= stop.stopName %></div>
    <div class="sub-list"><u>Routes Available</u></div>
    <% for (let route of stop.routeRefList) { %>
        <div class="sub-list">#<%= route.routeID %> - <%= route.routeName %></div>
    <% } %>
<% } %>

<%- include('./partials/footer') %>